<title> GuruTapas - <%= @author.name %> Author site</title>

<% if @author.profilepic_url != nil %>
  <%= image_tag(@author.profilepic_url.to_s, :size => "150x150") %>
<% else %>
  <% if @author.title != nil %>
    <% if @author.title.match /http/ %>
      <img src= <%= @author.title %> border=0 width=150 height=150><p>
    <% else %>
      <img src= "http://gurutapas.com/images/whiteBk.jpg" border=0 width=150 height=150><p>
    <% end %>
  <% else %>
   <img src= "http://gurutapas.com/images/whiteBk.jpg" border=0 width=150 height=150><p>
  <% end %>
<% end %>


<div id="name" style="position:absolute; left:170px; top:0px; width:220px">
  <h2><%= @author.name %></h2>
</div>

<div style="position:absolute; left:380px; top:0px; width:650px; height:30px;">
<img src= "http://gurutapas.com/images/purpleBar.png" alt="" title="" border=0 height="25" width="650" ></div>

<div id="txt_5" style="position:absolute; left:400px; top:5px; width:728px; height:53px;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box; overflow:hidden;">
<span class="Body-C8">

<a href="http://gurutapas.com" style="color:#ffffff;">GuruTapas Home</a> &nbsp;&nbsp;&nbsp;&nbsp;

<a href="<%= author_path %>" style="color:#ffffff;" title="<%= @author.name %>"> <%= @author.name %> Books </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

<a href="<%= blog_author_path %>" style="color:#ffffff;">Blog </a>&nbsp;&nbsp;&nbsp;&nbsp;

<a href="<%= interact_author_path %>" style="color:#ffffff;">Live Events</a></span>
</div>



