<% @title="GuruTapas: Appetizers of Knowledge - edit your Author page" %>

<body >

<%= form_for(@author, :html => { :multipart => true }) do |f| %>

<div id="name" style="position:absolute; left:170px; top:0px; width:220px">
	What are the three genres most closely related to your writing?<br>
    <%= f.text_field :genre %><p>
    <%= f.text_field :genre2 %><p>
    <%= f.text_field :genre3 %><p>
</div>

<div id="fanauthor" style="position:absolute; overflow:hidden; left:0px; top:270px; z-index:3">
  <center><span class="Body-C5">Writings in Progress</span></center>
  <table width="350">
  <tr>
    <td width="100" align="center">Title of a book you're still writing<br>
 </td>
    <td align="center">One sentence <br>description of the book <br>
 </td>
  </tr>
  <tr>
    <td><%= f.text_area :towrite, :cols => 12, :rows => 5 %>
 </td>
    <td><%= f.text_area :soonbookblurb, :cols => 25, :rows => 5 %>
 </td>
  </tr>
  <tr>
    <td align="center">Working title of a book you're developing a concept for<br>
 </td>
    <td align="center" valign="bottom">One sentence description <br>of the book/concept<br>
 </td>
  </tr>
  <tr>
    <td><%= f.text_area :towrite2, :cols => 12, :rows => 5 %>
 </td>
    <td><%= f.text_area :soonbookblurb2, :cols => 25, :rows => 5 %>
 </td>
  </tr></table>
</div>


<div id="fanbook" style="position:absolute; overflow:hidden; left:380px; top:170px; z-index:3">
  <table  border="1" CELLPADDING="4" CELLSPACING="2" WIDTH="620">
  <tr>
    <td><span class="Body-C6"><%= @author.name %>'s Books:</span></td>   
  </tr>
  <tr>
    <td width="250" align="center valign="bottom">Title of your latest book<br>
<%= f.text_area :authorbook, :cols => 30, :rows => 1 %><br>
URL for a picture of that book's jacket<br>
<%= f.text_area :bookpicurl, :cols => 30, :rows => 1 %><br>
URL for directing customers to the website where your book can be purchased <br>
<%= f.text_area :bkpurchaseurl, :cols => 30, :rows => 1 %>
</td>
    <td>Paste a SHORT paragraph (500 characters max) about your latest book<br>
<%= f.text_area :bookblurb, :cols => 40, :rows => 6 %>
</td>
  </tr>
  <tr>
    <td align="center valign="bottom">Title for one of your previous books<br>
<%= f.text_area :authorbook2, :cols => 30, :rows => 1 %><br>
URL for a picture of that book's jacket<br>
<%= f.text_area :bookpicurl2, :cols => 30, :rows => 1 %><br>
URL for directing customers to the website where your book can be purchased <br>
<%= f.text_area :soonbkpicurl, :cols => 30, :rows => 1 %>
</td>
    <td>Paste a SHORT paragraph (500 characters max) about your previous book<br>
<%= f.text_area :bookblurb2, :cols => 40, :rows => 6 %>
</td>
  </tr>
  <tr>
    <td align="center valign="bottom">Title for one of your first books<br>
<%= f.text_area :authorbook3, :cols => 30, :rows => 1 %><br>
URL for a picture of that book's jacket<br>
<%= f.text_area :bookpicurl3, :cols => 30, :rows => 1 %><br>
URL for directing customers to the website where your book can be purchased <br>
<%= f.text_area :soonbkpicurl2, :cols => 30, :rows => 1 %><br>
</td>
    <td>Paste a SHORT paragraph (500 characters max) about this book<br>
<%= f.text_area :bookblurb3, :cols => 40, :rows => 6 %>
</td>
  </tr>
</table>
</div>


<div id="signup" style="position:absolute; overflow:hidden; 
left:600px; top:0px; z-index:3"><span class="Body-C0">
<table>
  <tr>
    <td> Password:</td>
    <td><%= f.password_field :password %></td>
  </tr>
  <tr>
    <td>Password Confirmation:</td>
    <td><%= f.password_field :password_confirmation %></td>
  </tr>
</table>

For security, you must enter & confirm password every time you visit this page.
Save often. After saving, you will be directed to your new Author page. You may come back to this page for continue to enter your information.

  <div class="field">
    <%= f.submit %><p>
</div></div>

<div id="profilePic" style="position:absolute; left:0px; top:0px; width:160px">
URL for profile pic (Square is best) If you don't have a pic on the web, you can upload a picture at <a href = "http://photobucket.com" target="_blank"> Photobucket</a><br>
    <%= f.text_area :title, :cols => 17, :rows => 4 %><p>
</div>


<div id="signup" style="position:absolute; overflow:hidden; 
left:330px; top:900px; z-index:3">

URL to your blog <br>
    <%= f.text_field :blogurl, :size => 80 %><p>

  <div class="field">
    Twitter ID (Without the '@' symbol)<br />
    <%= f.text_field :twitter %>
  </div>
  <div class="field">
    Soon we will automate linking your account with Ustream during signup. But at this time, enter the information found in your Ustream dashboard under Channel - Advanced. The code to Embed the live video player will look something like this: 
<br>	<font face="Courier New"> [iframe src="http://www.ustream.tv/embed/247796" width="608" height="368" scrolling="no" frameborder="0" style="border: 0px none transparent;">/iframe></font> <br> 
Paste it into the box below. <br />
    <%= f.text_area :Ustreamid, :cols => 62, :rows => 3 %>
  </div>
  <div class="field">
On the same Channel - Advanced page in your Ustream dashboard, click on the Social Stream tab right above the live video player code. You will see code to Embed the social stream, chat, and videos, which will look similar to this: 
<br>	<font face="Courier New"> [iframe width="468" scrolling="no" height="586" frameborder="0" style="border: 0px none transparent;" src="http://www.ustream.tv/socialstream/247796">/iframe></font><br>
Paste it into the box below. <br />
    <%= f.text_area :Ustreamchat, :cols => 62, :rows => 3 %>
  </div>
  <div class="actions">
    <%= f.submit %>

  <div id="upload">
 <h3> Coming soon: Upload your book as a pdf </h3>
  </div>
<% end %>

<div id="authorlist" style="position:absolute; overflow:hidden; left:0px; top:330px; z-index:3">

<%= form_for(@author, :html => { :multipart => true }) do |f| %>
  <% if @author.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@author.errors.count, "error") %> prohibited this author from being saved:</h2>
      <ul>
      <% @author.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<% end %>
</div>

<%= link_to 'Show', @author %> |
<%= link_to 'Back', authors_path %>
