<% @title="GuruTapas: Appetizers of Knowledge - Our Authors " %>

<%= render 'form' %>

<div id="authorlist" style="position:absolute; overflow:hidden; left:100px; top:280px; z-index:3">

<%= button_to "Sign up as an author", new_author_path, :method=> :get %><p>

<span class="Body-C6">GuruTapas Featured Authors</span>
<table>
  <tr>
    <th></th>
    <th>Name</th><th>...</th>
    <th>Latest Book</th>
  </tr>

<% @authors.each do |author| %>
  <tr>
    <td> 
   <img src= <%= author.title %> border=0 width=50 height=50>
</td>
    <td color="#443c55" align="left"><%= link_to author.name, author %></td> <td>...</td>
    <td align="left"><%= author.authorbook %></td>
  </tr>
<% end %>
</table>
</div>
