<% @title="GuruTapas: Appetizers of Knowledge - Our Authors " %>

<%= render 'form' %>

<div id="authorlist" style="position:absolute; overflow:hidden; left:100px; top:280px; z-index:3">

<%= button_to "Sign up as an author", new_author_path, :method=> :get %><p>

<span class="Body-C6">GuruTapas Featured Authors</span>
<table CELLPADDING="0" CELLSPACING="10" WIDTH="800" >
  <tr>
    <th></th>
    <th align="left">&nbsp&nbsp&nbsp&nbspName</th>
    <th align="left">&nbsp&nbsp&nbsp&nbspWriting Genres</th>
  </tr>
<% @authors.each do |author| %>
  <tr>
    <td> 
<% if author.title != nil %>
   <% if author.title.match /http/ %>
      <%= link_to(image_tag(author.title, :size => "50x50", :title => author.name), author)  %>
   <% else %>
   <%= link_to(image_tag("http://gurutapas.com/images/whiteBk.jpg", :size => "50x50", :title => author.name), author)  %>   
   <% end %>
<% else %>
      <%= link_to(image_tag("http://gurutapas.com/images/whiteBk.jpg", :size => "50x50", :title => author.name), author)  %> 
<% end %>

</td>
    <td color="#443c55" align="left">
      <%= link_to author.name, author %></td>
    <td align="left"><%= author.genre  %>, <%= author.genre2 %>, <%= author.genre3 %></td>
  </tr>

<% end %>
</table>
</div>
