<% @title="GuruTapas: Appetizers of Knowledge - watch author " + @author.name + " here live!" %>
<%= render 'authorform' %>

<table >      <tr>      <td > 
<% if @author == current_user %>
  <%= button_to "Edit Profile", profileinfo_author_path(current_user), :method=> :get %> </td>
  <td><%= button_to "Edit Books", edit_author_path(current_user), :method=> :get %> </tr>
<% end %> </table>

<div id="fanbook" style="position:absolute; overflow:hidden; left:0px; top:200px; z-index:3">

<% if @author.books.any? %>
  <span class="Body-C6"><%= @author.name %>'s Books:</span>
  <% @author.books.each do |book| %>
    <table CELLPADDING="0" CELLSPACING="8" WIDTH="370">
    <%= form_for(book) do |f| %>
      <tr>      <td > </td><td style="line-height:94%">
      <div style="float:left;width:75%;">
      <b><a href= <%= book.bookpurchaseurl %> style="text-decoration: none", target="_blank" title= "Purchase <%= book.title %>"> <%= book.title %></b> </a></div>
      <div style="float:right;width:25%;">
      &nbsp<%= book.genre %></div></td></tr> 
      <tr><td width="50"; style="width:50px;height:65px;background-color:#dddddd;  text-align: center; line-height:70%" >
      <% if book.coverpicurl != nil %>
        <% if book.coverpicurl.match /http/ %>
          <a href= <%= book.bookpurchaseurl %>> <img src=<%= book.coverpicurl %> width="50" height="65" title= "Purchase <%= book.title %>" target="_blank"></a>
        <% else %>
          <% if book.title.match /[A-Za-z]/ %> 
            <span class="Body-D2">
            <a href= <%= book.bookpurchaseurl %> style="color: #880000" title= "Purchase <%= book.title %>"> <font color="880000" ><i>
            <%= book.title %> <target="_blank"></font></i></a> 
            <br>by <%= @author.name %>
          <% end %>
        <% end %>
      <% end %></span></td><td><i><%= book.fiftychar %></i></td></tr>
    <% end %>
    </table>
  <% end %>
<% end %>
</div>

<div id="fanbook" style="position:absolute; overflow:hidden; left:380px; top:50px; z-index:3">
  <%= @author.Ustreamid.html_safe %>
<br>
  <%= @author.Ustreamchat.html_safe %>
</div>
