<% @title="GuruTapas: Appetizers of Knowledge - author " + @author.name %>

<!-- // rails generate migration add_info_to_authors genre:string genre2:string genre3:string bookpicurl:string bookpicurl2:string bookpicurl3:string authorbook:string authorbook2:string authorbook3:string towrite:string towrite2:string soonbkpicurl:string soonbkpicurl2:string bookblurb:string bookblurb2:string bookblurb3:string soonbookblurb:string soonbookblurb2:string
  add_blog_to_authors blogurl:string 

bundle exec rake db:migrate
-->

<style type="text/css">

<body 
a:link {color: #901A2A; text-decoration: none}}
a:visited {color: #901A2A;}
a:hover {color: #FFFFFF;}
a:active {color: #901A2A;}
.Body-G        {
        font-family:"Verdana", sans-serif; font-size:12.0px; 
        line-height:1.0em; color:#901A2A; font-weight:"bold";
        }

</style>
</head>

<%= render 'authorform' %>

<%= link_to 'Fill in or edit this page', edit_author_path(@author) %> <p>
<%= link_to 'See the list of all GuruTapas Authors', authors_path %>


<!-- <%= image_tag @author.avatar.url %>
<%= image_tag @author.avatar.url(:medium) %>
<%= image_tag @author.avatar.url(:thumb) %>
-->

<div id="name" style="position:absolute; left:170px; top:70px; width:220px">
  &nbsp&nbsp&nbsp&nbsp<%= @author.genre %><p>
  &nbsp&nbsp&nbsp&nbsp<%= @author.genre2 %><p>
  &nbsp&nbsp&nbsp&nbsp<%= @author.genre3 %>
</div>


<div id="fanauthor" style="position:absolute; overflow:hidden; left:0px; top:270px; z-index:3">

  <h2>Writings in Progress</h2>
  <table width="350">
  <tr>
    <td width="100"><b><font color=901A2A><%= @author.towrite %></font></b> </td>
    <td><i><%= @author.soonbookblurb %></i>
  </tr>
  <tr>
    <td><b><font color=901A2A><%= @author.towrite2 %></font></b> </td>
    <td><i><%= @author.soonbookblurb2 %></i>
  </tr></table><p>


  <br><h1>My fans:</h1>
</div>

<p id="notice"><%= notice %></p>


<div id="fanbook" style="position:absolute; overflow:hidden; left:380px; top:50px; z-index:3">
  <table CELLPADDING="4" CELLSPACING="2" WIDTH="620">
  <tr>
    <td></td>    <td></td>
    <td><h1>My Books:</h1></td>
  </tr>
  <tr>
    <td width="50"><a href= <%= @author.bkpurchaseurl %>> <img src=<%= @author.bookpicurl %> width="50" height="65" title= "<%= @author.authorbook %>" target="_blank"></a></td>
    <td WIDTH="120"><b><a href= <%= @author.bkpurchaseurl %> style="text-decoration: none", target="_blank"> <%= @author.authorbook %></b> </a> </td>
    <td> <i><%= @author.bookblurb %></i></td>
  </tr>
  <tr>
    <td><a href= <%= @author.soonbkpicurl %>> <img src=<%= @author.bookpicurl2 %> width="50" height="65" title= "<%= @author.authorbook2 %>" target="_blank"></a></td>
    <td><b><a href= <%= @author.soonbkpicurl %> style="text-decoration: none", target="_blank"><%= @author.authorbook2 %></b></a> </td>
    <td> <i><%= @author.bookblurb2 %></i></td>
  </tr>
  <tr>
    <td><a href= <%= @author.soonbkpicurl2 %>> <img src=<%= @author.bookpicurl3 %> width="50" height="65" title= "<%= @author.authorbook3 %>" target="_blank"></a></td>
    <td><b><a href= <%= @author.soonbkpicurl2 %> style="text-decoration: none", target="_blank"><%= @author.authorbook2 %></b></a> </td>
    <td> <i><%= @author.bookblurb3 %></i></td>
  </tr></table>

</div>



<% 
=begin %>

<%= form_for(@bookworm, :html => { :multipart => true }) do |bkworm| %>

  <table width = "410">
  <tr>
    <td width="50"><img src="http://gurutapas.com/images/modevLisa.jpg" width="50" height="50" title= "<%= @bookworm.name %>" ></td>
    <td width="90"><font color=773355><b><%= bkworm.name %> </b></td>
  </tr>
    <td><img src="http://gurutapas.com/images/modevLisa.jpg" width="50" height="50" title= "<%= bookworm.name %>" ></td>
    <td><font color=773355><b><%= bookworm.name %></b> </td>
  </tr>
    <td><img src="http://gurutapas.com/images/modevLisa.jpg" width="50" height="50" title= "<%= bookworm.name %>" ></td>
    <td><font color=773355><b><%= bookworm.name %></b> </td>
  </tr></table>
</div>
<% 
=end %>
</body>