<p id="notice"><%= notice %></p>

<div id="image3" style="position:absolute; overflow:hidden; left:0px; top:70px; z-index:2">
<img src="http://rolemodelenterprises.com/gurutapas/images/modevLisa.jpg" alt="" title="" border=0 width=130 height=120><br></div>


<div id="image2" style="position:absolute; overflow:hidden; left:0px; top:195px; z-index:2">
<b>Live audience: </b><p>

<a href= "http://rolemodelenterprises.com/gurutapas/images/bengal.html" target=_blank, toolbar=no, width=500, height=500, location=no, directories=no,status=no,menubar=no,scrollbars=yes,resizable=no>  <img src="http://rolemodelenterprises.com/gurutapas/images/bengal.png" border=0> </a> 
<br>
<a href= "http://rolemodelenterprises.com/gurutapas/images/dane.html">  <img src="http://rolemodelenterprises.com/gurutapas/images/dane.png" border=0></a> 
<br>
<a href= "http://rolemodelenterprises.com/gurutapas/images/spaz.html">  <img src="http://rolemodelenterprises.com/gurutapas/images/spaz.png" border=0></a> 
<br>
<a href= "http://rolemodelenterprises.com/gurutapas/images/ross.html">  <img src="http://rolemodelenterprises.com/gurutapas/images/ross.png" border=0></a> 
<br>
<a href= "http://rolemodelenterprises.com/gurutapas/images/susan.html">  <img src="http://rolemodelenterprises.com/gurutapas/images/susan.png" border=0></a> 
<br>
<a href= "http://rolemodelenterprises.com/gurutapas/images/gareth.html">  <img src="http://rolemodelenterprises.com/gurutapas/images/gareth.png" border=0></a> 
<br>

</div>

<div id="image4" style="position:absolute; overflow:hidden; left:160px; top:70px; z-index:2">
  <h1><%= @author.name %></h1> </div>  

<div id="image7" style="position:absolute; overflow:hidden; left:400px; top:80px; z-index:2">
 <a href= <%= "http://twitter.com/" << @author.twitter %> > <img src="http://rolemodelenterprises.com/gurutapas/images/twitter.png" border=0></a> <br>
Book title: <%= @author.title %> <br>
<a href= <%= @author.bkpurchaseurl %> > Purchase book </a> 
</div>
<div id="image8" style="position:absolute; overflow:hidden; left:440px; top:90px; z-index:2"> @<%= link_to @author.twitter,  "http://twitter.com/" << @author.twitter %>
</div>


<div id="image5" style="position:absolute; overflow:hidden; left:160px; top:210px; z-index:2">
  <%= @author.Ustreamid.html_safe %>
<br>
  <%= @author.Ustreamchat.html_safe %></div>


<div id="image6" style="position:absolute; overflow:hidden; left:820px; top:70px; z-index:2">
<b>Reading List</b><p>
<img src="http://rolemodelenterprises.com/gurutapas/images/bjBk.jpg" alt="" title="" border=0 width=80 height=110><br></div>

<div style="position:absolute; left:800px; top:220px; width:99px; height:26px;">
    <div id="frag_14" style="text-align:left;">
    <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
    <input type="hidden" name="cmd" value="_s-xclick">
    <input type="hidden" name="hosted_button_id" value="NHEGESZKRZJVW">
    <input type="image" src="https://www.paypalobjects.com/WEBSCR-640-20110306-1/en_US/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
    <img alt="" border="0" src="https://www.paypalobjects.com/WEBSCR-640-20110306-1/en_US/i/scr/pixel.gif" width="1" height="1">
    </form>
    </div>
<%= link_to 'Author list', authors_path %></div>


<div id="image9" style="position:absolute; overflow:hidden; left:0px; top:0px; z-index:2">
<img src="http://rolemodelenterprises.com/gurutapas/images/purpleChromeBar.png" alt="" title="" border=0 ><br></div>

<div id="zimage10" style="position:absolute; overflow:hidden; left:400px; top:10px; z-index:2">
<img src="http://rolemodelenterprises.com/gurutapas/images/books.png" alt="" title="" border=0 ><br></div>


