<% @title="GuruTapas: Appetizers of Knowledge - author "  %>

<!-- // rails generate migration add_info_to_authors genre:string genre2:string genre3:string 
  add_blog_to_authors blogurl:string 
rails generate migration add_password_digest_to_authors password_digest:string

bundle exec rake db:migrate
heroku run rake db:migrate
-->

<%= render 'authorform' %>

<% if @author == current_user %>
  <%= button_to "Edit Book Info", edit_author_path(current_user), :method=> :get %><br>
  <%= button_to "Edit Profile", profileinfo_author_path(current_user), :method=> :get %>
<% end %>
<p>


<!-- <%= image_tag @author.avatar.url %>
<%= image_tag @author.avatar.url(:medium) %>
<%= image_tag @author.avatar.url(:thumb) %>
-->

<div id="name" style="position:absolute; left:170px; top:70px; width:220px">
  &nbsp&nbsp&nbsp&nbsp<%= @author.genre %><p>
  &nbsp&nbsp&nbsp&nbsp<%= @author.genre2 %><p>
  &nbsp&nbsp&nbsp&nbsp<%= @author.genre3 %>
</div>

<p id="notice"><%= notice %></p>


<div id="fanbook" style="position:absolute; overflow:hidden; left:380px; top:50px; z-index:3">
  <table CELLPADDING="0" CELLSPACING="8" WIDTH="620">
  <tr>
    <td></td>    <td></td>
    <td><span class="Body-C6"><%= @author.name %>'s Books:</span></td>
  </tr>
</table>

    <% if @author.books.any? %>
        <%= render @books %>
    <% end %>
</div>



</body>