<p id="notice"><%= notice %></p>

<p>
  <b>Author:</b>
  <%= @purchase.author_id %>
</p>

<p>
  <b>Book:</b>
  <%= @purchase.book_id %>
</p>


<%= link_to 'Edit', edit_purchase_path %> |
<%= link_to 'Back', purchases_path %>
