<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @bookevent.name %>
</p>

<p>
  <b>Start at:</b>
  <%= @bookevent.start_at %>
</p>

<p>
  <b>End at:</b>
  <%= @bookevent.end_at %>
</p>


<%= link_to 'Edit', edit_bookevent_path(@bookevent) %> |
<%= link_to 'Back', bookevents_path %>
