<% @title="GuruTapas: Appetizers of Knowledge - Our Bookworms" %>

<%= render 'form' %>

<div id="bkwormlist" style="position:absolute; overflow:hidden; left:100px; top:300px; z-index:3">

<span class="Body-C4"><%= link_to 'Sign up to get a free site - where you talk about YOUR favorite books', new_bookworm_path %></span>
<%= button_to "Sign up to be a bookworm", new_bookworm_path, :method=> :get %><p>

<p><p>
<span class="Body-C6" align="center">GuruTapas Featured Bookworms</span>
<table>
  <tr>
    <th></th>
    <th>Name</th>    <th>&nbsp &nbsp</th>
    <th>Favorite Author</th>    <th>&nbsp &nbsp</th>
    <th>Favorite Book</th>
  </tr>


<% @bookworms.each do |bookworm| %>
  <tr>
    <td> 
   <img src= <%= bookworm.picurl %> border=0 width=50 height=50>

</td>
    <td><%= link_to bookworm.name, bookworm %></td> 
    <td></td>
    <td align="left"><%= bookworm.fanauthor %></td>
    <td></td>
    <td align="left"><%= bookworm.fanbook %></td>
  </tr>
<% end %>
</table>
</div>


