<title>GuruTapas: Where people gather to discuss books -AUTHOR LIST</title>
<style type="text/css">
<!--
<body 
a:link {color: #2c3651;}
a:visited {color: #1f5b8b;}
a:hover {color: #2c3651;}
a:active {color: #2c3651;}
.Body-P        {
        margin:0.0px 0.0px 12.0px 0.0px; text-align:left; font-weight:400;
         }
.Body-P0
        {
        margin:0.0px 0.0px 12.0px 0.0px; text-align:center; font-weight:400;
         }
.Body-P1        {
        margin:0.0px 0.0px 12.0px 0.0px; text-align:right; font-weight:400; 
        }
.Body-C        {
        font-family:"Verdana", sans-serif; font-size:15.0px; 
        line-height:1.20em; color:#64140f; 
        }
.Body-C0        {
        font-family:"Gabriola", serif; font-size:27.0px; line-height:1.85em; 
        }
.Body-C1        {
        font-family:"Verdana", sans-serif; font-size:16.0px; 
        line-height:1.13em; 
        }
.Body-C2        {
        font-family:"Gabriola", serif; font-weight:700; font-size:32.0px; 
        line-height:1.84em; color:#64140f; 
        }
.Body-C3        {
        font-family:"Beatnik SF", serif; font-weight:700; font-size:21.0px; 
        line-height:1.10em; color:#64140f; 
        }
.Body-C4        {
        font-family:"Comic Sans MS", cursive; font-size:13.0px; 
        line-height:1.38em; 
        }
.Body-C5        {
        font-family:"Beatnik SF", serif; font-weight:700; font-size:19.0px; 
        line-height:1.16em; color:#ffffff; 
        }
.Body-C6        {
        font-family:"Beatnik SF", serif; font-weight:700; font-size:27.0px; 
        line-height:1.15em; color:#64140f; 
        }
-->
</style>
</head>
<body text="#000000" style="background-color:#ffffff; text-align:center; height:1000px;">
<div style="text-align:left;margin-left:auto;margin-right:auto;position:relative;width:850px;height:1000px;">

<div style="position:absolute; left:647px; top:0px; width:270px; height:290px;">
<div id="zz_mc_embed_signup">
<form action="http://Rolemodelenterprises.us2.list-manage.com/subscribe/post?u=e28251cce4844fb012f041514&amp;id=742a95c731" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" style="font: normal 100% Arial, sans-serif;font-size: 10px;">
	<fieldset style="-moz-border-radius: 4px;border-radius: 4px;-webkit-border-radius: 4px;border: 1px solid #a05036;padding-top: 1.5em;margin: .5em 0;background-color: #F0E6C8;color: #63140f;text-align: left;">
	<legend style="white-space: normal;font-weight: bold;color: #fff;background: #552515;padding: .5em 1em;border: 1px solid #ccc;-moz-border-radius: 4px;border-radius: 4px;-webkit-border-radius: 4px;font-size: 1.2em;"><span>Join the FUTURE of BOOKS mailing list</span></legend>
<div class="indicate-required" style="text-align: right;font-style: italic;overflow: hidden;color: #55140F;margin: 0 9% 0 0;">* indicates required</div>
<div class="mc-field-group" style="margin: 1.3em 5%;clear: both;overflow: hidden;">
<label for="mce-EMAIL" style="display: block;margin: .3em 0;line-height: 1em;font-weight: bold;">Email Address <strong class="note-required">*</strong>
</label>
<input type="text" value="" name="EMAIL" class="required email" id="mce-EMAIL" style="margin-right: 1.5em;padding: .2em .3em;width: 90%;float: left;z-index: 999;">
</div>
<div class="mc-field-group" style="margin: 1.3em 5%;clear: both;overflow: hidden;">
    <label class="input-group-label" style="display: block;margin: .3em 0;line-height: 1em;font-weight: bold;">Email Format </label>
    <div class="input-group" style="padding: .7em .7em .7em 0;font-size: .9em;margin: 0 0 1em 0;">
    <ul style="margin: 0;padding: 0;"><li style="list-style: none;overflow: hidden;padding: .2em 0;clear: left;display: block;margin: 0;"><input type="radio" value="html" name="EMAILTYPE" id="mce-EMAILTYPE-0" style="margin-right: 2%;padding: .2em .3em;width: auto;float: left;z-index: 999;"><label for="mce-EMAILTYPE-0" style="display: block;margin: .4em 0 0 0;line-height: 1em;font-weight: bold;width: auto;float: left;text-align: left !important;">html</label></li>
<li style="list-style: none;overflow: hidden;padding: .2em 0;clear: left;display: block;margin: 0;"><input type="radio" value="text" name="EMAILTYPE" id="mce-EMAILTYPE-1" style="margin-right: 2%;padding: .2em .3em;width: auto;float: left;z-index: 999;"><label for="mce-EMAILTYPE-1" style="display: block;margin: .4em 0 0 0;line-height: 1em;font-weight: bold;width: auto;float: left;text-align: left !important;">text</label></li>
<li style="list-style: none;overflow: hidden;padding: .2em 0;clear: left;display: block;margin: 0;"><input type="radio" value="mobile" name="EMAILTYPE" id="mce-EMAILTYPE-2" style="margin-right: 2%;padding: .2em .3em;width: auto;float: left;z-index: 999;"><label for="mce-EMAILTYPE-2" style="display: block;margin: .4em 0 0 0;line-height: 1em;font-weight: bold;width: auto;float: left;text-align: left !important;">mobile</label></li>
</ul>
    </div>
</div>
		<div id="mce-responses" style="float: left;top: -1.4em;padding: 0em .5em 0em .5em;overflow: hidden;width: 90%;margin: 0 5%;clear: both;">
			<div class="response" id="mce-error-response" style="display: none;margin: 1em 0;padding: 1em .5em .5em 0;font-weight: bold;float: left;top: -1.5em;z-index: 1;width: 80%;background: FBE3E4;color: #D12F19;"></div>
			<div class="response" id="mce-success-response" style="display: none;margin: 1em 0;padding: 1em .5em .5em 0;font-weight: bold;float: left;top: -1.5em;z-index: 1;width: 80%;background: #E3FBE4;color: #529214;"></div>
		</div>
		<div><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn" style="clear: both;width: auto;display: block;margin: 1em 0 1em 5%;"></div>
	</fieldset>	
	<a href="#" id="mc_embed_close" class="mc_embed_close" style="display: none;">Close</a>
</form>
</div>
<script type="text/javascript">
var fnames = new Array();var ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';
try {
    var jqueryLoaded=jQuery;
    jqueryLoaded=true;
} catch(err) {
    var jqueryLoaded=false;
}
var head= document.getElementsByTagName('head')[0];
if (!jqueryLoaded) {
    var script = document.createElement('script');
    script.type = 'text/javascript';
    script.src = 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js';
    head.appendChild(script);
    if (script.readyState && script.onload!==null){
        script.onreadystatechange= function () {
              if (this.readyState == 'complete') mce_preload_check();
        }    
    }
}
var script = document.createElement('script');
script.type = 'text/javascript';
script.src = 'http://downloads.mailchimp.com/js/jquery.form-n-validate.js';
head.appendChild(script);
var err_style = '';
try{
    err_style = mc_custom_error_style;
} catch(e){
    err_style = 'margin: 1em 0 0 0; padding: 1em 0.5em 0.5em 0.5em; background: FFEEEE none repeat scroll 0% 0%; font-weight: bold; float: left; z-index: 1; width: 80%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; color: FF0000;';
}
var head= document.getElementsByTagName('head')[0];
var style= document.createElement('style');
style.type= 'text/css';
if (style.styleSheet) {
  style.styleSheet.cssText = '.mce_inline_error {' + err_style + '}';
} else {
  style.appendChild(document.createTextNode('.mce_inline_error {' + err_style + '}'));
}
head.appendChild(style);
setTimeout('mce_preload_check();', 250);

var mce_preload_checks = 0;
function mce_preload_check(){
    if (mce_preload_checks>40) return;
    mce_preload_checks++;
    try {
        var jqueryLoaded=jQuery;
    } catch(err) {
        setTimeout('mce_preload_check();', 250);
        return;
    }
    try {
        var validatorLoaded=jQuery("#fake-form").validate({});
    } catch(err) {
        setTimeout('mce_preload_check();', 250);
        return;
    }
    mce_init_form();
}
function mce_init_form(){
    jQuery(document).ready( function($) {
      var options = { errorClass: 'mce_inline_error', errorElement: 'div', onkeyup: function(){}, onfocusout:function(){}, onblur:function(){}  };
      var mce_validator = $("#mc-embedded-subscribe-form").validate(options);
      $("#mc-embedded-subscribe-form").unbind('submit');//remove the validator so we can get into beforeSubmit on the ajaxform, which then calls the validator
      options = { url: 'http://Rolemodelenterprises.us2.list-manage.com/subscribe/post-json?u=e28251cce4844fb012f041514&id=742a95c731&c=?', type: 'GET', dataType: 'json', contentType: "application/json; charset=utf-8",
                    beforeSubmit: function(){
                        $('#mce_tmp_error_msg').remove();
                        $('.datefield','#mc_embed_signup').each(
                            function(){
                                var txt = 'filled';
                                var fields = new Array();
                                var i = 0;
                                $(':text', this).each(
                                    function(){
                                        fields[i] = this;
                                        i++;
                                    });
                                $(':hidden', this).each(
                                    function(){
                                        var bday = false;
                                        if (fields.length == 2){
                                            bday = true;
                                            fields[2] = {'value':1970};//trick birthdays into having years
                                        }
                                    	if ( fields[0].value=='MM' && fields[1].value=='DD' && (fields[2].value=='YYYY' || (bday && fields[2].value==1970) ) ){
                                    		this.value = '';
									    } else if ( fields[0].value=='' && fields[1].value=='' && (fields[2].value=='' || (bday && fields[2].value==1970) ) ){
                                    		this.value = '';
									    } else {
	                                        this.value = fields[0].value+'/'+fields[1].value+'/'+fields[2].value;
	                                    }
                                    });
                            });
                        return mce_validator.form();
                    }, 
                    success: mce_success_cb
                };
      $('#mc-embedded-subscribe-form').ajaxForm(options);      
      
    });
}
function mce_success_cb(resp){
    $('#mce-success-response').hide();
    $('#mce-error-response').hide();
    if (resp.result=="success"){
        $('#mce-'+resp.result+'-response').show();
        $('#mce-'+resp.result+'-response').html(resp.msg);
        $('#mc-embedded-subscribe-form').each(function(){
            this.reset();
    	});
    } else {
        var index = -1;
        var msg;
        try {
            var parts = resp.msg.split(' - ',2);
            if (parts[1]==undefined){
                msg = resp.msg;
            } else {
                i = parseInt(parts[0]);
                if (i.toString() == parts[0]){
                    index = parts[0];
                    msg = parts[1];
                } else {
                    index = -1;
                    msg = resp.msg;
                }
            }
        } catch(e){
            index = -1;
            msg = resp.msg;
        }
        try{
            if (index== -1){
                $('#mce-'+resp.result+'-response').show();
                $('#mce-'+resp.result+'-response').html(msg);            
            } else {
                err_id = 'mce_tmp_error_msg';
                html = '<div id="'+err_id+'" style="'+err_style+'"> '+msg+'</div>';
                
                var input_id = '#mc_embed_signup';
                var f = $(input_id);
                if (ftypes[index]=='address'){
                    input_id = '#mce-'+fnames[index]+'-addr1';
                    f = $(input_id).parent().parent().get(0);
                } else if (ftypes[index]=='date'){
                    input_id = '#mce-'+fnames[index]+'-month';
                    f = $(input_id).parent().parent().get(0);
                } else {
                    input_id = '#mce-'+fnames[index];
                    f = $().parent(input_id).get(0);
                }
                if (f){
                    $(f).append(html);
                    $(input_id).focus();
                } else {
                    $('#mce-'+resp.result+'-response').show();
                    $('#mce-'+resp.result+'-response').html(msg);
                }
            }
        } catch(e){
            $('#mce-'+resp.result+'-response').show();
            $('#mce-'+resp.result+'-response').html(msg);
        }
    }
}

</script>
</div>

<div style="position:absolute; left:228px; top:15px; width:32px; height:32px;">
    <map id="map0" name="map0">
        <area shape="poly" coords="32,2,27,0,4,0,0,4,0,32,32,32" href="http://facebook.com/home.php?sk=group_160984513963917" target="_blank" alt="">
    </map>
    <img src="http://gurutapas.com/images/facebk.png" width="32" height="32" border="0" id="pic_75" name="pic_75" title="" alt="" onload="OnLoadPngFix()" usemap="#map0"></div>
<div style="position:absolute; left:283px; top:14px; width:32px; height:32px;">
    <map id="map1" name="map1">
        <area shape="poly" coords="32,29,32,2,29,0,2,0,0,6,0,30,2,32,31,32" href="http://twitter.com/culturefuturist" target="_blank" alt="">
    </map>
    <img src="http://gurutapas.com/images/twitter.png" width="32" height="32" border="0" id="pic_21" name="pic_21" title="" alt="" onload="OnLoadPngFix()" usemap="#map1"></div>
<div style="position:absolute; left:341px; top:13px; width:32px; height:32px;">
    <map id="map2" name="map2">
        <area shape="poly" coords="32,29,32,2,29,0,2,0,0,6,0,30,2,32,31,32" href="http://rolemodelenterprises.com/blog" target="_blank" alt="">
    </map>
    <img src="http://gurutapas.com/images/blog.png" width="32" height="32" border="0" id="pic_39" name="pic_39" title="" alt="" onload="OnLoadPngFix()" usemap="#map2">
</div>

<div id="txt_1" style="position:absolute; left:0px; top:243px; width:646px; height:34px>
<p class="Body-P"><span class="Body-C">Participate in LIVE online book clubs, talks, and classes run by the authors themselves!</span></p>
</div>
<div style="position:absolute; left:632px; top:626px; width:103px; height:77px;">
    <img src="http://gurutapas.com/images/logo.png" width="103" height="77" border="0" id="pic_1" name="pic_1" title="" alt=""></div>
<div id="txt_4" style="position:absolute; left:0px; top:183px; width:557px; height:57px;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box; overflow:hidden;">
<p class="Body-P0"><span class="Body-C2">Where people gather to discuss books</span></p>
<p class="Body-P"><span class="Body-C3">&nbsp;</span></p>
</div>
<div style="position:absolute; left:0px; top:278px; width:850px; height:37px;">
    <img src="wpimages/wp3eadd9ed.png" width="850" height="37" border="0" id="qs_1" name="qs_1" title="" alt="" onload="OnLoadPngFix()"></div>
<div id="txt_6" style="position:absolute; left:564px; top:322px; width:286px; height:26px;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box; overflow:hidden;">
<p class="Body-P1"><span class="Body-C4">This site is still in alpha stage development. </span></p>
</div>
<div style="position:absolute; left:0px; top:0px; width:470px; height:268px;">
    <img src="http://gurutapas.com/images/gurutapas.png" width="470" height="268" border="0" id="art_1" name="art_1" title="" alt="GuruTapas" onload="OnLoadPngFix()"></div>

<div style="position:absolute; left:398px; top:13px; width:33px; height:32px;">
    <a href="http://www.linkedin.com/company/rolemodel-enterprises/"  target="_blank"><img src="http://gurutapas.com/images/linkedin.jpg" width="33" height="32" border="0" id="pic_72" name="pic_72" title="" alt=""></a></div>
<div id="txt_7" style="position:absolute; left:343px; top:75px; width:306px; height:35px;">
<p class="Body-P0"><span class="Body-C6">Online TownCenter </span></p>
</div>


<div id="txt_4" style="position:absolute; left:0px; top:183px; width:557px; height:57px;">
<p class="Body-P0"><span class="Body-C2">Where people gather to discuss books</span></p>
<p class="Body-P"><span class="Body-C3">&nbsp;</span></p>
</div>
<div style="position:absolute; left:0px; top:278px; width:850px; height:37px;">
<img src= "http://gurutapas.com/images/woodbar.png" alt="" title="" border=0 ></div>

<div id="txt_5" style="position:absolute; left:14px; top:285px; width:950px; height:53px;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box; overflow:hidden;">
<p class="Body-P"><span class="Body-C5"><a href="http://gurutapas.com" style="color:#ffffff;text-decoration:none;">Home</a> &nbsp;&nbsp;&nbsp;&nbsp;How it works &nbsp;&nbsp;&nbsp;&nbsp;<a href="http://gurutapas.com/futureofbks.html" style="color:#ffffff;text-decoration:none;" title="Speaker series">Future of Books </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://budgetjustified.com" style="color:#ffffff;text-decoration:none;">Featured Books </a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://gurutapas.heroku.com/authors" style="color:#ffffff;text-decoration:none;">Authors</a></span></p>
</div>

<div id="authorlist" style="position:absolute; overflow:hidden; left:0px; top:330px; z-index:3">
<span class="Body-C2"><%= link_to 'Sign up to get a free site - where you talk about YOUR favorite books', new_bookworm_path %></span>
<p><p>
<h1>GuruTapas Featured Bookworms</h1>

<table>
  <tr>
    <th>.</th>
    <th>Name</th>    <th>&nbsp &nbsp</th>
    <th>Favorite Author</th>    <th>&nbsp &nbsp</th>
    <th>Favorite Book</th>
  </tr>


<% i=0
   @bookworms.each do |bookworm| %>
  <tr>
    <td> 
<% i=i+1 %>
<a href= <%= i %> > <img src= <%= bookworm.picurl %> border=0 width=50 height=50></a>

<!--<%= link_to(image_tag(bookworm.picurl, :width => '50', :height => '50'), bookworm) %>
-->

</td>
    <td><%= link_to bookworm.name, bookworm %></td> 
    <td></td>
    <td><%= bookworm.fanauthor %></td>
    <td></td>
    <td><%= bookworm.fanbook %></td>
  </tr>
<% end %>
</table>

<br />



<body background="http://gurutapas.com/images/coffeeSnackBook.jpg" bgcolor="#ffbfdf">

<div style="position:absolute; left:9px; top:938px; width:192px; height:25px;">
    <div id="frag_21" style="text-align:left;">
    <!--ONESTAT SCRIPTCODE START-->
    <!--
    // Modification of this code is not allowed and will permanently disable your account!
    // Account ID : 436141
    // Website URL: http://mysite.verizon.net/vze2sdqh/hotcoolengineers/
    // Copyright (C) 2002-2007 OneStat.com All Rights Reserved
    -->
    <div id="OneStatTag"><table border='0' cellpadding='0' cellspacing='0'><tr><td align='center'>
    <script type="text/javascript">
    <!--
    function OneStat_Pageview()
    {
        var d=document;
        var sid="436141";
        var CONTENTSECTION="";
        var osp_URL=d.URL;
        var osp_Title=d.title;
        var t=new Date();
        var p="http"+(d.URL.indexOf('https:')==0?'s':'')+"://stat.onestat.com/stat.aspx?tagver=2&sid="+sid;
        p+="&url="+escape(osp_URL);
        p+="&ti="+escape(osp_Title);
        p+="&section="+escape(CONTENTSECTION);
        p+="&rf="+escape(parent==self?document.referrer:top.document.referrer);
        p+="&tz="+escape(t.getTimezoneOffset());
        p+="&ch="+escape(t.getHours());
        p+="&js=1";
        p+="&ul="+escape(navigator.appName=="Netscape"?navigator.language:navigator.userLanguage);
        if(typeof(screen)=="object"){
           p+="&sr="+screen.width+"x"+screen.height;p+="&cd="+screen.colorDepth;
           p+="&jo="+(navigator.javaEnabled()?"Yes":"No");
        }
        d.write('<a href="http://www.onestatfree.com/aspx/login.aspx?sid='+sid+'" target=_blank><img id="ONESTAT_TAG" border="0" src="'+p+'" alt="This site tracked by OneStatFree.com. Get your own free site tracker."></'+'a>');
    }
    
    OneStat_Pageview();
    //-->
    </script>
    <noscript>
    <a href="http://www.onestatfree.com"><img border="0" src="http://stat.onestat.com/stat.aspx?tagver=2&amp;sid=436141&amp;js=No&amp;" ALT="detect click fraud"></a>
    </noscript>
    </td></tr><tr><td align='center'><div style="COLOR:black;display:none;FONT-FAMILY:'Verdana';"><a href="http://www.onestat.com" style="text-decoration:none;">detect click fraud</a><br></div></td></tr></table></div>
    <!--ONESTAT SCRIPTCODE END-->
</div></div>
